form {
  display: flex;
  align-items: center;
  justify-content: center;    
}

form input,
form select {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border-width: 1px;
}

form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

form input[type="submit"] {
  border: 0;
  background-color: #7f7f7f;
  color: white;
  cursor: pointer;
}
